<configuration>
  <solution>
    <!-- Disable source control integration of packages folder -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <!-- Repository packages folder path -->
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>